
@if (article) {

  <div class="articulo" (click)="gotoArticle()" >

  <!-- <div class="articulo" [routerLink]="['/home/article/']" 
  [queryParams] = "{id: article.id}"
  > -->
  
    <div>
      <img src="/assets/images/angular.png" alt="logo angular">
      <!-- <img [src]="article.image.url" [alt]="article.image.desc" />  -->
    </div>
  
    <div class="articulo-titulo">
      <h2>{{article.title | titlecase | short: '10'}}</h2>
    </div>
  
    <div class="contenido">
      <p>{{article.body | short: '100' }}</p>
    </div>
    <div>
      <p>{{article.time | date: 'yyyy-MM-dd'}}</p>
    </div>
  
  </div>
}