

<div class="content-form">
  <div class="input-content">
    <label>Email:</label>
    <input type="mail" title="email" [(ngModel)]="form.email">
    <p>{{error}}</p>
  </div>
  <div class="input-content">
    <label>Nombre:</label>
    <input type="text" title="name" [(ngModel)]="form.name">
  </div>
  <div class="input-content">
    <label>Celular:</label>
    <input type="text" title="phone" [(ngModel)]="form.phone">
  </div>
  <div class="text-align: center">
    <button (click)="sendForm()" title="send">Enviar</button>
  </div>

</div>