
<ion-content>

  <app-header/>
  
 <h1 style="text-align: center">Store</h1>

  @if (!cargando) {
    
    <div class="content-carrito">
    @if (carrito) {
      <p class="detalle-carrito">Cant: {{carrito.cantidadtotal}}| Total: ${{carrito.total.toFixed(2)}}</p>
    }
    </div>

    @for (item of items; track item.id) {
    
      <div class="content-item">
        <div>
          <h3>{{item.name}}</h3>
        </div>
        <div>
          <p>{{item.description}}</p>
        </div>
        @if (item.image) {

          <div>
            <img [src]="item.image" [alt]="item.name" title="item.name">
          </div>
        } @else {
          <img src="./assets/images/default.webp" alt="default">
        }
        <div style="text-align: end">
          <p>${{item.price}}</p>
        </div>
      
        <div style="text-align: end">
          <button (click)="removeItem(item)" class="button-remove">-</button>
          <button (click)="addItem(item, $index)" class="button-add">+</button>
        </div>
      
      </div>
            
   
    }@empty {
      <p>No hay articulos </p>
    }

  }@else {
    <p style="text-align: center;">cargando...</p>
  }

  
  <div>
    <input (keyup)="validateInput()"/></div>
    <div>
      <input (keydown)="updateInput($event)"/>
    </div>
    <div style="margin: 60px"></div>

<!--   <app-product-detail/> -->

  <app-footer/>
</ion-content>
