
<ion-content>

  <app-header [title]="tituloPagina"/>
  


  @if (!cargando) {
    
    <app-detail-carrito></app-detail-carrito>
  
  @for (item of items; track item.id) {

    <app-product-detail [item]="item" [index]="$index"  ></app-product-detail>
<!--     (add)="addItem(item)" (remove)="removeItem(item)" -->
     
   
    }@empty {
      <p>No hay articulos </p>
    }

  }@else {
    <p style="text-align: center;">cargando...</p>
  }

  
  <div>
    <input (keyup)="validateInput()" title="validateInput"/></div>
    <div>
      <input (keydown)="updateInput($event)" title="updateInput"/>
    </div>
    <div style="margin: 60px"></div>


  <app-footer/>
</ion-content>
