.content-carrito{
    display: flex;
    position: sticky;
    top: 60px;
    justify-content: end;
}

.detalle-carrito{
    background: #ffc107;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}